#top{
    background-color:#333;
    color:#f8f8f8;
    padding: 0.2em 0;
}

#top a{
    color:#f8f8f8;
}

#header{
    padding-top:@default-div-vertical-padding;
    padding-bottom:@default-div-vertical-padding;
    background-color:#fff;

    .logo{
        img{
            max-height:70px;
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width: 990px){
    #header{
        .logo{
            img{
                max-height:70px;
            }
        }
    }
}

@media only screen and (max-width: 440px){
    #header{
        .logo{
            img{
                max-height:50px;
            }
        }
    }
}